<div>
  <div class="icon-bar generalContent">
    <a class="active" href="javascript:void(0);"><i class="fa fa-desktop"></i></a> 
    <a href="javascript:void(0);" ng-click="openGChatWindow();"><i class="fa fa-users"></i></a> 
    <a href="javascript:void(0);" ng-click="openModal('modalUserInfo');"><i class="fa fa-user"></i></a>
    <a href="javascript:void(0);" ng-click="openModal('modalAbout');"><i class="fa fa-question"></i></a>
    <a href="https://github.com/JDaza13/frontpage" target="_blank"><i class="fa fa-file-code-o"></i></a>
  </div>

    <!-- User info Modal -->
    <div ng-include="'views/userInfo.html'"></div>
    
    <!-- About Modal -->
    <div ng-include="'views/about.html'"></div>
    
    <!-- About Modal -->
    <div ng-include="'views/globalChat.html'"></div>
    
</div>